* {margin: 0px;
padding: 0px;}
h1{color:blue} 
body{background:#444;
color: #000000;
}

.logo{
width: 1359px;
height: 400px;
}

.logohtml{
width:300px;
height: 200px;
}

/*Contenedor al lado del logo*/
#contenedor_uno{
margin-top: 5px;
margin: left;
background:white;
height: 250px;

}



#menu{
background-color:#10699F ;

}
 #menu ul{
list-style: none;
margin: 0px;
padding: 0px;

 }

 #menu ul li{
     display: inline-block;

 }
  
 #menu ul li a{
     color: white;
     text-decoration: none;
     display: block;
     padding: 20px 60px;

     
 }

 #menu ul li a:hover{
     background-color: #104B9F ;
     height: 30px;
 }

header{
height: 1px;
background:#0a0909d2;
width:940px;



/*Menu*/


}
header h1{
    font-size: 50px;
    text-align: center;
    line-height: 150px;  
    
  
}


footer{
margin-top: 679px;
background-color: #000000;
}
footer h1{
color:white;
font-size: 14px;
text-align:center;    

}
footer h2{
color: white;
font-size: 14px;
text-align:center; 
}

#contenido{
width: 690px;
height:669px;
float: left;
background: white;
margin-top: 10px;
}

#contenido h2{
font-size: 30px;
text-align: center;
line-height: 70px;
color: yellow;

}
article h1{
margin-top: 30px;
color: yellow;
}

aside{
width:660px;
height: 669px;
background:#109D9F ;
margin-top: 10px;
float: right;
}
aside h2{
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    color: yellow;